<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'template/header-image-logo.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content" data-ng-controller="calendarCtrl as clctrl">

        <div class="container c-alt" data-ng-controller="ModalDemoCtrl">
            <div class="block-header">
                <h2>Calendar <small>To edit a student's pickup schedule, click and drag their entries below. </br>
                    Double-click a date to add a new entry; double-click an entry to edit or delete it.</small></h2>
            </div>

            <div id="calendar" data-calendar data-select="clctrl.onSelect(start, end)"></div>

            <!-- Add event -->
            <script type="text/ng-template" id="addEvent.html">
                <div class="modal-header">
                    <h4 class="modal-title">Add a Pickup Event</h4>
                </div>
                <div class="modal-body">
                    <form class="addEvent" role="form">
                        <div class="input-group m-b-20">
                            <span class="input-group-addon"></span>
                            <div class="form-group">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" placeholder="Please select a student" ng-model="calendar.student" ng-options="value.key as value.val.name for (key, value) in calendar.studentList">
                                            <option value="" disabled selected>Please select a student</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" data-ng-model="getStart" />
                        <input type="hidden" data-ng-model="getEnd" />

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-ng-click="addEvent()">Add Event</button>
                    <button type="button" class="btn btn-link" data-ng-click="eventDismiss()">Close</button>
                </div>
            </script>
        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
