Copyright &copy; 2016 Pseudocoders

<ul class="f-menu">
    <li><a href="">Home</a></li>
    <li><a href="https://schoolsmart.myjetbrains.com/youtrack/newissue?project=SS">Report Bug</a></li>
    <li><a href="">Support</a></li>
    <li><a href="">Contact</a></li>
</ul>
