<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                {{user.displayName}}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a data-ui-sref="login" data-ng-click="mactrl.logOut()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i>Home</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="geozones" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-map"></i>Geozones</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="students" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-widgets"></i>Students</a>
        </li>

        <li data-ui-sref-active="active" ng-show="isAdmin">
            <a data-ui-sref="admin" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-collection-item"></i>Admin</a>
        </li>

    </ul>
</div>
